In [1]:
import pandas as pd

In [243]:
matches2=pd.read_csv('https://raw.githubusercontent.com/Jhovanylara/FIFA-WorldCup2022/master/config/WorldCupMatches.csv')
matches=matches2.copy()

In [244]:
matches=matches.dropna(how='all')
matches.drop(columns=['Win conditions','Attendance','City','Stadium','Referee','Assistant 1', 'Assistant 2', 'Home Team Initials','Away Team Initials'], inplace=True)
def wins(row):
    if row['Home Team Goals']> row['Away Team Goals']:
        return 'Won'
    if row['Home Team Goals']==row['Away Team Goals']:
        return 'Tied'
    if row['Home Team Goals']< row['Away Team Goals']:
        return 'Lost'

matches['Home result']=matches.apply(lambda row: wins(row), axis=1)

    
matches.tail()

,Year,Datetime,Stage,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Half-time Home Goals,Half-time Away Goals,RoundID,MatchID,Home result
847,2014.0,05 Jul 2014 - 17:00,Quarter-finals,Netherlands,0.0,0.0,Costa Rica,0.0,0.0,255953.0,300186488.0,Tied
848,2014.0,08 Jul 2014 - 17:00,Semi-finals,Brazil,1.0,7.0,Germany,0.0,5.0,255955.0,300186474.0,Lost
849,2014.0,09 Jul 2014 - 17:00,Semi-finals,Netherlands,0.0,0.0,Argentina,0.0,0.0,255955.0,300186490.0,Tied
850,2014.0,12 Jul 2014 - 17:00,Play-off for third place,Brazil,0.0,3.0,Netherlands,0.0,2.0,255957.0,300186502.0,Lost
851,2014.0,13 Jul 2014 - 16:00,Final,Germany,1.0,0.0,Argentina,0.0,0.0,255959.0,300186501.0,Won

In [284]:

wcmatches=pd.read_csv('Datasets\wcmatches.csv')
wcmatches.drop(columns=['country','city','win_conditions','month', 'dayofweek', 'losing_team'], inplace=True)
wcmatches['winning_team']=wcmatches['winning_team'].fillna('Tied')
wcmatches.head()

,year,stage,home_team,away_team,home_score,away_score,outcome,winning_team,date
0,1930,Group 1,France,Mexico,4,1,H,France,1930-07-13
1,1930,Group 4,Belgium,United States,0,3,A,United States,1930-07-13
2,1930,Group 2,Brazil,Yugoslavia,1,2,A,Yugoslavia,1930-07-14
3,1930,Group 3,Peru,Romania,1,3,A,Romania,1930-07-14
4,1930,Group 1,Argentina,France,1,0,H,Argentina,1930-07-15

In [292]:
a=wcmatches['away_team'].str.count('Argentina').sum()
a

21

In [ ]:
matches.replace({'German DR':'Germany','German FR':'Germany'})

In [ ]:
players=pd.read_csv('WorldCupPlayers.csv')
players.head()

In [ ]:
cups=pd.read_csv('WorldCups.csv')
cups.tail()

In [245]:
from config.db import engine
Team='Germany'

R1=f'''SELECT year, stage, `home_team`, `away_team`, `home_score`, `away_score`, `Half-time Home Goals`, `Half-time Away Goals`, `Home result`     
FROM matches     
WHERE `Home Team Name` LIKE '{Team}'
;'''


df1=pd.read_sql(R1, engine)

In [204]:
df1

Empty DataFrame
Columns: [Year, Stage, Home Team Name, Home Team Goals, Away Team Goals, Half-time Home Goals, Half-time Away Goals, Home result]
Index: []

In [246]:
if df1.empty:
    print (f"Es la primera participación de {Team} en copas del mundo.")
else:
    G1=df1['Home Team Goals'].sum()
    G2=df1['Away Team Goals'].sum()
    G3=df1['Half-time Home Goals'].sum()
    G4=df1['Half-time Away Goals'].sum()
    partidos=df1['Year'].count()
    wins_local=df1['Home result'].value_counts()['Won']
    lost_local=df1['Home result'].value_counts()['Lost']
    tied_local=df1['Home result'].value_counts()['Tied']

    print (f"{Team} de local ha anotado {G1} goles y ha recibido {G3} goles, en {partidos} partidos.")
    print (f"En el primer tiempo anotó {G3} goles y recibió {G4} goles.")
    print (f"El {round((1-G3/G1)*100,1)}% de sus goles los hace en el segundo tiempo.")
    print (f"El {round((1-G4/G2)*100,1)}% de goles recibidos son en el segundo tiempo.")
    print (f"Ha ganado como local {wins_local} partidos, ha perdido {lost_local} y ha empatado {tied_local} partidos. Con una tasa de victorias del {round((wins_local/partidos)*100,1)}%")

Germany de local ha anotado 513 goles y ha recibido 198 goles, en 240 partidos.
En el primer tiempo anotó 198 goles y recibió 75 goles.
El 61.4% de sus goles los hace en el segundo tiempo.
El 64.3% de goles recibidos son en el segundo tiempo.
Ha ganado como local 165 partidos, ha perdido 21 y ha empatado 54 partidos. Con una tasa de victorias del 68.8%

In [247]:
from config.db import engine

R1=f'''SELECT Year, Stage, `Away Team Name`, `Home Team Name`,`Home Team Goals`, `Away Team Goals`, `Half-time Home Goals`, `Half-time Away Goals`, `Home result`
    FROM matches
    WHERE `Away Team Name`='{Team}'
    ;'''

df2=pd.read_sql(R1, engine)

In [248]:
lista=df2['Home Team Name'].unique()
lista
Enfrentamientos=[]
for i in lista:
    a=df2[df2['Home Team Name']==i]['Home Team Name'].count()
    Enfrentamientos.append(a)
Enfrentamientos

Rivales=pd.DataFrame(list(zip(lista,Enfrentamientos)), columns=['Rival', 'Enfrentamientos'])
Rivales=Rivales.sort_values(["Enfrentamientos"], ascending=False)
Rivales

             Rival  Enfrentamientos
3        Argentina               12
5           France               12
12          Brazil                9
6       Yugoslavia                6
8            Italy                6
1      Switzerland                6
16         Uruguay                6
15         Austria                3
22           Ghana                3
21         Ecuador                3
20        Cameroon                3
19        Bulgaria                3
18         Morocco                3
17         Denmark                3
0   Czechoslovakia                3
14     Netherlands                3
13          Poland                3
11         Germany                3
10           Chile                3
9        Australia                3
7          England                3
4           Sweden                3
2          Hungary                3
23             USA                3

In [239]:
import plotly.graph_objects as go
import streamlit as st

trace  = go.Bar(
                x=Rivales['Rival'].tolist(),
                y=Rivales['Enfrentamientos'].tolist(),
                showlegend = False
                )

layout = go.Layout(                                    
                xaxis_title='Rivales',
                yaxis_title='Cantidad enfrentamientos'
                )
data = [trace]
fig = go.Figure(data=data,layout = layout)
st.plotly_chart(fig)

2022-11-18 18:08:10.163
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\Jhovany Lara\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [249]:
G5=df2['Home Team Goals'].sum()
G6=df2['Away Team Goals'].sum()
G7=df2['Half-time Home Goals'].sum()
G8=df2['Half-time Away Goals'].sum()
partidos_visit=df2['Year'].count()
wins_visit=df2[df2['Home result']=='Lost']['Home result'].count() #Se pone como Lost porque al ser visitante, si ha perido el local, ha ganado el visitante.
lost_visit=df2[df2['Home result']=='Won']['Home result'].count()
tied_visit=df2[df2['Home result']=='Tied']['Home result'].count()
print (f"{Team} de visitante ha anotado {G6} goles y ha recibido {G5} goles, en {partidos_visit} partidos.")
print (f"En el primer tiempo anotó {G8} goles y recibió {G7} goles.")
print (f"El {round((1-G8/G6)*100,1)}% de sus goles los hace en el segundo tiempo.")
print (f"El {round((1-G7/G5)*100,1)}% de goles recibidos son en el segundo tiempo.")
print (f"Ha ganado como visitante {wins_visit} partidos, ha perdido {lost_visit} y ha empatado {tied_visit} partidos. Con una tasa de victorias del {round((wins_visit/partidos_visit)*100,1)}%")

Germany de visitante ha anotado 207 goles y ha recibido 174 goles, en 108 partidos.
En el primer tiempo anotó 93 goles y recibió 48 goles.
El 55.1% de sus goles los hace en el segundo tiempo.
El 72.4% de goles recibidos son en el segundo tiempo.
Ha ganado como visitante 51 partidos, ha perdido 45 y ha empatado 12 partidos. Con una tasa de victorias del 47.2%

In [250]:
Anotados=G1+G6
Recibidos=G2+G5
Anotados1T=G3+G8
Recibidos1T=G4+G7
Partidos_totales=partidos+partidos_visit
wins=wins_local+wins_visit
lost=lost_local+lost_visit
tied=tied_local+tied_visit

print (f"{Team} en total ha anotado {Anotados} goles y ha recibido {Recibidos} goles, en {Partidos_totales} partidos.")
print (f"En el primer tiempo anotó {Anotados1T} goles y recibió {Recibidos1T} goles")
print (f"El {round((1-G7/G5)*100,1)}% de sus goles los hace en el segundo tiempo.({Anotados-56})")
print (f"El {round((1-G8/G6)*100,1)}% de goles recibidos son en el segundo tiempo.")
print (f"Ha ganado como visitante {wins} partidos, ha perdido {lost} y ha empatado {tied} partidos. Con una tasa de victorias del {round((wins/Partidos_totales)*100,1)}%.")

Germany en total ha anotado 720 goles y ha recibido 384 goles, en 348 partidos.
En el primer tiempo anotó 291 goles y recibió 123 goles
El 72.4% de sus goles los hace en el segundo tiempo.(664)
El 55.1% de goles recibidos son en el segundo tiempo.
Ha ganado como visitante 216 partidos, ha perdido 66 y ha empatado 66 partidos. Con una tasa de victorias del 62.1%.

In [255]:
lista1=df1['Away Team Name'].unique()
Enfrentamientos1=[]
for i in lista1:
    a=df1[df1['Away Team Name']==i]['Away Team Name'].count()
    Enfrentamientos1.append(a)

Rivales1=pd.DataFrame(list(zip(lista1,Enfrentamientos1)), columns=['Rival', 'Enfrentamientos'])
Rivales1=Rivales1.sort_values(["Enfrentamientos"], ascending=False)

lista2=df2['Home Team Name'].unique()
Enfrentamientos2=[]
for i in lista2:
    a=df2[df2['Home Team Name']==i]['Home Team Name'].count()
    Enfrentamientos2.append(a)

Rivales2=pd.DataFrame(list(zip(lista2,Enfrentamientos2)), columns=['Rival', 'Enfrentamientos'])
Rivales2=Rivales2.sort_values(["Enfrentamientos"], ascending=False)

Rivales=pd.concat([Rivales1, Rivales2])
Rivales

          Rival  Enfrentamientos
11    Argentina               15
18      England               12
4    Yugoslavia               12
12        Spain               12
21  Netherlands                9
..          ...              ...
9     Australia                3
7       England                3
4        Sweden                3
2       Hungary                3
23          USA                3

[67 rows x 2 columns]

In [258]:
Rivales.groupby(['Rival']).sum()
Rivales=Rivales.sort_values(["Enfrentamientos"], ascending=False)
Rivales

         Rival  Enfrentamientos
11   Argentina               15
18     England               12
3    Argentina               12
12       Spain               12
4   Yugoslavia               12
..         ...              ...
7      England                3
2      Hungary                3
4       Sweden                3
29    Colombia                3
23         USA                3

[67 rows x 2 columns]

In [261]:
wcmatches=pd.read_csv('Datasets\wcmatches.csv')
wcmatches.tail()

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
895,2018,Russia,Sochi,Quarterfinals,Russia,Croatia,2,2,A,Croatia won in penalties (4 - 3),Croatia,Russia,2018-07-07,Jul,Saturday
896,2018,Russia,Saint Petersburg,Semifinals,France,Belgium,1,0,H,NaN,France,Belgium,2018-07-10,Jul,Tuesday
897,2018,Russia,Moscow,Semifinals,Croatia,England,2,1,H,Croatia won in AET,Croatia,England,2018-07-11,Jul,Wednesday
898,2018,Russia,Saint Petersburg,Third place,Belgium,England,2,0,H,NaN,Belgium,England,2018-07-14,Jul,Saturday
899,2018,Russia,Moscow,Final,France,Croatia,4,2,H,NaN,France,Croatia,2018-07-15,Jul,Sunday